*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
a{
  color: white !important;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

.iconos i:hover{
  border-radius: 50%;
  cursor: pointer;
}
.iconos i{
  font-size: 25px;
margin-left: 5px;
transition: color 0.4s ease;
}
.iconos{
  margin-left: 10px;
}
.iconos i.fa-whatsapp:hover{
  color: green;
}
.iconos i.fa-facebook:hover{
  color: #3b5998;
}
.iconos i.fa-instagram:hover{
  color: #bc2a8d;
}
.iconos i.fa-youtube:hover{
  color: red;
}
.icono{
  color: black;
}

.navbar{
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  height: 6vw;
  /* padding: .5rem; */
}
/* agrego estilo */
.nav-item{
  color: white;
}
.navbar-light .navbar-brand{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
h1{
  font-size: 1.5em;
  text-align: center;
  hyphens: auto;
  margin: 15px;
}
/* hasta aca */
.section1{
  background-image:url(../img/cascos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.first-title{
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.cotizar{
  justify-content: center;
}
.foot {
    width: 100%;
    bottom: 0;
    z-index: 20;
    color: white;
}
.section2{
  background-image: url(../img/pantone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 10rem;
  justify-content: center;
}
.card{
  justify-content: center;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: 0rem;
  padding-bottom: 1rem;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  overflow: hidden;
  border-radius: 25px;
}

/* Style the back side */
.flip-card-back {
  background-color: #2E3192;
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;

}

.mx-auto {
  position: relative;
  top: 1vw;
}

.titulo {
  font-size: 2em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

.section3 {
  padding-top: 3vw;
}

/* CSS PERFIL AGREGO PARA DEJAR SOLO UN CSS */

.body{
  background-image:url(../img/cascos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.container2{
  margin: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image:url(../img/cascos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  }  

.profile {
  position: inline-block;
  padding: 15px;
  margin: 30px auto;
  width: 20%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  background: #F4F2F4;
  border-radius: 2px;
}
.profile:hover img {
  transform: rotate(-3deg);
}
.profile:hover .bar span {
  opacity: 1;
}
.profile img {
  width: 100px;
  border-radius: 90px;
  margin-bottom: 28px;
  box-shadow: 0 8px 6px -6px #555;
  transition: transform 1s;
}
.profile .bar span {
  width: 20%;
  opacity: 0.5;
  display: inline-block;
  height: 5px;
  padding: 0;
  margin: 15px 0;
  transition: opacity 1s;
}
.profile .bar span.one {
  background-color: #5C96BC;
}
.profile .bar span.two {
  background-color: #42E31B;
}
.profile .bar span.three {
  background-color: #FEDE16;
}
.profile .bar span.four {
  background-color: #E66504;
}
.profile .bar span.five {
  background-color: #C60600;
}
.profile h1, .profile h2 {
  color: #333;
  text-rendering: optimizeLegibility;
}
.profile h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 26px;
}
.profile h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 22px;
}

.carrito {
    width: 100%;
    margin: 15px;
    min-width: 500px;
    max-width: 1500px;
    text-align: center;
    background: #F4F2F4;
    border-radius: 2px;
    display: inline-block;
}
.carrito:hover img {
    transform: rotate(-3deg);
  }
  .carrito:hover .bar span {
    opacity: 1;
  }
  .carrito img {
    width: 60px;
    border-radius: 90px;
    margin-bottom: 28px;
    box-shadow: 0 8px 6px -6px #555;
    transition: transform 1s;
  }
  .carrito .bar span {
    width: 20%;
    opacity: 0.5;
    display: inline-block;
    height: 5px;
    padding: 0;
    margin: 15px 0;
    transition: opacity 1s;
  }
  .carrito .bar span.one {
    background-color: #5C96BC;
  }
  .carrito .bar span.two {
    background-color: #42E31B;
  }
  .carrito .bar span.three {
    background-color: #FEDE16;
  }
  .carrito .bar span.four {
    background-color: #E66504;
  }
  .carrito .bar span.five {
    background-color: #C60600;
  }
  .carrito h1, .profile h2 {
    color: #333;
    text-rendering: optimizeLegibility;
  }
  .carrito h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 26px;
  }
  .carrito h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 22px;
  }
  .table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: auto;
}

.profileadm {
  position: inline-block;
  padding: 5px;
  margin: 30px 15px 30px 15px;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  text-align: center;
  background: #F4F2F4;
  border-radius: 2px;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;

}
.profileadm:hover img {
  transform: rotate(-3deg);
}
.profileadm:hover .bar span {
  opacity: 1;
}
.profileadm img {
  width: 100px;
  border-radius: 90px;
  margin-bottom: 28px;
  box-shadow: 0 8px 6px -6px #555;
  transition: transform 1s;
}
.profileadm .bar span {
  width: 20%;
  opacity: 0.5;
  display: inline-block;
  height: 5px;
  padding: 0;
  margin: 15px 0;
  transition: opacity 1s;
}
.profileadm .bar span.one {
  background-color: #5C96BC;
}
.profileadm .bar span.two {
  background-color: #42E31B;
}
.profileadm .bar span.three {
  background-color: #FEDE16;
}
.profileadm .bar span.four {
  background-color: #E66504;
}
.profileadm .bar span.five {
  background-color: #C60600;
}
.profileadm h1, .profile h2 {
  color: #333;
  text-rendering: optimizeLegibility;
}
.profileadm h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 26px;
}
.profileadm h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 22px;
}
form {
  padding: 17.5px;
  margin-top:0px;
  margin-left: 10px;
  margin-left: 10px;
}
.formulario {
  padding: 30px;
  margin: 30px auto;
  text-align: center;
  background: #F4F2F4;
  border-radius: 2px;
}
.formulario :hover img {
  transform: rotate(-3deg);
}
.formulario :hover .bar span {
  opacity: 1;
}
.formulario img {
  width: 160px;
  border-radius: 90px;
  margin-bottom: 28px;
  box-shadow: 0 8px 6px -6px #555;
  transition: transform 1s;
}
.formulario .bar span {
  width: 20%;
  opacity: 0.5;
  display: inline-block;
  height: 5px;
  padding: 0;
  margin: 15px 0;
  transition: opacity 1s;
}
.formulario .bar span.one {
  background-color: #5C96BC;
}
.formulario .bar span.two {
  background-color: #42E31B;
}
.formulario .bar span.three {
  background-color: #FEDE16;
}
.formulario .bar span.four {
  background-color: #E66504;
}
.formulario .bar span.five {
  background-color: #C60600;
}
.formulario h1, .profile h2 {
  color: #333;
  text-rendering: optimizeLegibility;
}
.formulario h1 {
  font-family: "Sigmar One", Serif;
  font-size: 24px;
  line-height: 26px;
}
.formulario h2 {
  font-family: "Passion One", Serif;
  font-size: 20px;
  line-height: 22px;
}
.block {
  margin: 20px;
  margin-top: 10px;
  border-radius: 4px;
  width: 280px;
  min-height: 430px;
  background: #fff;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}
.top {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
.top ul {
  display: flex;
  justify-content: space-between;
}
.top a {
  color: #9e9e9e;
}
.top a:hover {
  color: #c7ccdb;
}
.title_product {
  padding: 2px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.middle {
  margin-bottom: 40px;
}
.middle img {
  width: 60%;
}
.bottom2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.heading {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0;
}
.info {
  font-size: 14px;
  color: #969696;
  margin-bottom: 10px;
}
.style {
  font-size: 16px;
  margin-bottom: 20px;
}
.old-price {
  color: #f00;
  text-decoration: line-through;
}
.bar span.one {
  background-color: #5C96BC;
}
.bar span.two {
  background-color: #42E31B;
}
.bar span.three {
  background-color: #FEDE16;
}
.bar span.four {
  background-color: #E66504;
}
.bar span.five {
  background-color: #C60600;
}


.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {

    table#cart tbody td .form-control {
      width: 20%;
      display: inline !important;
    }
    .actions .btn {
      width: 36%;
      margin: 1.5em 0;
    }
    .actions .btn-info {
      float: left;
    }
    .actions .btn-danger {
      float: right;
    }
    table#cart thead {
      display: none;
    }
    table#cart tbody td {
      display: block;
      padding: 0.6rem;
      min-width: 320px;
    }
    table#cart tbody tr td:first-child {
      background: #333;
      color: #fff;
    }
    table#cart tbody td:before {
      content: attr(data-th);
      font-weight: bold;
      display: inline-block;
      width: 8rem;
    }
    table#cart tfoot td {
      display: block;
    }
    table#cart tfoot td .btn {
      display: block;
    }
    .ocultar{
        display: none;
      }
     
     .titulo-seccion {
       font-size: 2em;
       font-family: 'Montserrat Alternates', sans-serif;
       font-weight: bold;
       text-align: center;
       color: black;
     }
     
     .card-titulo {
       background-color: none;
     }
     .sobre{
       background-image:url(../img/presupuesto.jpeg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
     }
     .lista{
       color: orange;
       font-weight: bold;
       font-size: 1.5em;
     
     }
     .descripcion{
       border-radius: 10px;
       font-size: 1rem;
       color: white;
       /* background-color: rgba(0, 0, 0, 0.5); */
     }
     .caja{
       padding: 10px;
       border-radius: 15px;
       background-color: rgba(0, 0, 0, 0.5);
     
     }
     p{
       padding: 10px;
     }
     
     h5{
       color: white;
     }
     h2{
       margin: 0 auto;
     }
}